<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-gsewallet" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>GseWallet</name>
    <js-module name="GseWallet" src="www/GseWallet.js">
        <clobbers target="GseWallet"/>
    </js-module>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="GseWallet">
                <param name="ios-package" value="GseWallet"/>
            </feature>
        </config-file>
        <source-file src="src/ios/GseWallet.m"/>
    </platform>
</plugin>
